[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle/robotframework-vim"]
	path = home/.vim/bundle/robotframework-vim
	url = git://github.com/mfukar/robotframework-vim.git
[submodule "base16-shell"]
	path = base16-shell
	url = git://github.com/chriskempson/base16-shell.git
[submodule "home/.vim/bundle/base16/vim"]
	path = home/.vim/bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
