[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle/robotframework-vim"]
	path = home/.vim/bundle/robotframework-vim
	url = git://github.com/mfukar/robotframework-vim.git
[submodule "home/.vim/bundle/base16-vim"]
	path = home/.vim/bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule "home/.vim/bundle/vim-airline-themes"]
	path = home/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/ag.vim"]
	path = home/.vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
